# Site settings
title: Kara Woo
email: woo.kara@gmail.com
author: Kara Woo
description: "Lake Baikal, data management, open science, social justice"
baseurl: ""
url: "http://blog.karawoo.com"
timezone: America/Los_Angeles

# Google analytics
google_analytics: UA-50579324-1

# Optional features
animated:           false
show_related_posts: false
show_post_footers:  false

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname: karawoo

# Social icons
show_social_icons: true
github_username: karawoo
twitter_username: kara_woo
stackoverflow_id:
google_plus_id:
linkedin_username: karawoo
bitcoin_url:
paypal_url:
flattr_button:


# Build settings
markdown:     redcarpet
redcarpet:
  extensions: ['smart', 'tables', 'with_toc_data']
permalink: /:year/:month/:day/:title
paginate:     5
sass:
  compressed: true
gems:
  - jekyll-sitemap
